/* Background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#fc8653,#f1e14f);
}

/* Box */
.login-box {
  background: #fff;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Input fields */
.login-box input {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  font-size: 14px;
}

.login-box input:focus {
  border-bottom: 2px solid #f77331;
}

/* Forgot password */
.forgot {
  font-size: 13px;
  color: #666;
  text-align: left;
  margin: 5px 0 15px 0;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: underline;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #333;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.login-box button:hover {
  background: #e5e5e5;
}

/* Signup text */
.signup-text {
  font-size: 14px;
  margin-top: 15px;
}

.signup-link {
  color: #3b82f6;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}

.link {
  color: #eb8246;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

