.footer {
  font-family: "Poppins", sans-serif;
  background-color: #ff8c00;
  color: white;
  padding-top: 50px;
}

/* Footer Top */
.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
  gap: 40px;
}

.footer-about h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.footer-about span {
  color: #ffd699;
}

.footer-about p {
  max-width: 300px;
  color: #fff3e0;
  line-height: 1.5;
}

.footer-links h3,
.footer-contact h3,
.footer-social h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ffd699;
}

.footer-contact p {
  margin-bottom: 8px;
  color: #fff3e0;
}

/* Social Icons */
.footer-social .social-icons {
  display: flex;
  gap: 15px;
}

.footer-social img {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.footer-social img:hover {
  transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  background-color: #e67600;
  padding: 15px 0;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.95rem;
}
